.main {
    background-color: #191919;
    background-image: url("../scss/img/Wallpapper_07.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    a { 
        color: #191919;
        text-decoration: none;
        .card-main {
            background-color: #ffffff;
            border-radius: 28px;
            padding: 15px;
            height: 160px;
            h3 {
                font-size: 20px;
                margin-bottom: 10px;
            }
            p {
                font-size: 12px;
            }
        }

    }
    a:hover {
        color: red;
    }
}

@media only screen and (min-width: 768px) {
    .main {
        height: 500px;
    }
}